
.row>*,.row{
  padding: 0;
  margin: 0;
}
.storie{
  height: 60px;
}

.profile .profile-pic{
  width: 20px;
  height: 20px;
}
.userProfile .profile-pic{
  width: 35px;
  height: 35px;
}

.userProfile .comman{
  display: flex;
  align-items: center;
  margin: 10px;
}
.userProfile .comman.color{
  color:#00000070
} 

.story{
  padding: 2px; 
  border-radius: 50%;
  background: linear-gradient(to right, #2A7B9B, #57C785, #EDDD53); 
  display: inline-block;
}
.story-img{
  padding: 1px;
  display: block;
  background-color: white;
}
