
.row>*,.row{
  padding: 0;
  margin: 0;
}
.storie{
  height: 60px;
}

.profile .profile-pic{
  width: 20px;
  height: 20px;
}
.userProfile .profile-pic{
  width: 35px;
  height: 35px;
}

.userProfile .comman{
  display: flex;
  align-items: center;
  margin: 10px;
}
.userProfile .comman.color{
  color:#00000070
}